body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;

}

html{
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 0;
  background-color: rgb(241, 236, 236);;
  color: black;
  padding: 1px 40px;
  width: 100%;
 

}

 .header-container{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  width: 100%;
  max-width:1200px;
  margin: 0 auto;
  font-size: 24px;
  padding: 0 20px;
 
  
}

.menu{

  display: flex;
  list-style: none;
  gap: 45px;
  margin: 0;
  padding: 0;
  
  
}

.menu a:hover{
 color:  hsla(0, 51%, 78%, 0.815);
}

.menu a:active{
  color: black;
  
}
.menu a.active{
  color: hsla(0, 51%, 78%, 0.815); ;
}


.menu a{
  color: black;
  text-decoration: none;

}




/* main section */

 



.h2-top{
  font-size: 36px;
  font-style: italic;
  font-family: Arial, sans-serif;
  text-align: center;
}
.main-containet p{
  font-size: 19px;
}

.description{
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 9px;
}

.atik{
  margin-bottom: 40px;
}

.contact-ko{
display: inline-flex;
  
}

.contaca-me{
  background-color: black;
  padding: 12px 19px;
  border-radius: 20px;
  
}
.contaca-me a{
 text-decoration: none;
 color: white;
}

.c{
  margin-right: 20px;
}




.aboutUs-container-nelson{
  background-color: rgb(241, 236, 236);
  display: flex;
  align-items: center;
  
  gap: 15px;
  margin-top: 6%;
  padding-top: 7%;
  padding-left:  10%;

  padding-bottom: 70px;
}



.ubos-main{
  
  background-color: rgb(241, 236, 236);;
}

.grid-ubos{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 18%;
  font-size: 10px;
 
}

.grid-ubos .icon2{
  font-size: 27px;
}


 
/* for responsiveness */
@media(max-width: 768px){

  main{
    margin-top: 80%;
   
  }
  .header-container{
    flex-direction: column;
    align-items: center;
  }

  .menu{
    flex-direction: column;
    width: 100%;
  }
  .main-containet{

    flex-direction: column;
    height: auto;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .content-main{
    width: 100%;
    text-align: center;
  }
  
  
}


/* james page */

.aboutUs{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  background-color: #ffffff;
  




}

.aboutUs-container{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 90px;

  

}

.content-about{
  font-style: italic;
  width: 600px;
  
}

.jamesPic{
  display: flex;
  align-items: center;
  justify-content:space-evenly ;
  width: 700px;
  
}

.jamesPic img{
  width: 600px;
  height: 650px;
  

}

/* nelson */


.socmed{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.socmeds:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}





/* about page */

.about{
  background-color:rgb(241, 236, 236) ;
  display: flex;
}

.about-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5%;
  gap: 80px;
  align-items: center;
  padding-left: 50px;
  

}

.left-side{
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  padding: 3.5%;

}


.right-side p{
  font-size: 20px;
  padding-bottom: 20px;
}

.core-tech{
  padding-bottom: 10px;
}
.mern span{
  margin-right: 60px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  

}


/* services */

.servicesContainer{
  text-align: center;
  padding: 40px;
  font-size: 25px;
  padding-top: 6%;
  
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 29px;
  margin-left: 13%;
  margin-right: 60%;
  margin-bottom: 10% ;

  

}

.grid div{
  width: 504px;
  background-color:rgb(241, 236, 236);
  border: none;
  
  border-radius: 10px;
  padding-top: 19px;
  padding-left: 19px;
  

}

.grid div:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}



.icon1 {
  color: hsla(0, 51%, 78%, 0.815);
  font-size: 40px;
}

.icon2{
  color: hsla(0, 51%, 78%, 0.815);
  font-size: 40px;
}

.icon3{
  color: hsla(0, 51%, 78%, 0.815);
  font-size: 40px;
}

.icon4{
  color: hsla(0, 51%, 78%, 0.815);
  font-size: 40px;
}


/* skills */
.skills{
  background-color:rgb(241, 236, 236);
  text-align: center;
 
  
}
.skills-container{
  padding: 20px;
  padding-top: 5%;
  padding-bottom: 8%;
}

.title{
  font-style: italic;
}

.skillsContent{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 10%;
  margin-bottom: 7% ;
  gap: 25px;
  
}

.skillsContent div span{
  border: 1px solid;
  padding: 7px;
  border-radius: 14px;
  margin-right: 10px;
  
}

.skills-left-side{
  text-align: start;
  width: 70%;
}

.front-end ,.design{
  margin-top: 5%;
  margin-bottom: 7%;

}
.yawa{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-subtt{
  color: hsla(0, 51%, 78%, 0.815);
  border: none;
  font-size: 30px;
}


.skills-right-side{
  text-align: start;
  padding-top: 10px;
  width: 70%;
}


/* systems sections */

.systemSection{
 height: auto;
}

.systemContainer{
  margin: 9%;
  padding-top: 7%;

  
}
.systemContainer img{
  width: 100%;
  border: none;
  border-radius: 15px;
  
}

.systemDesc{
  width: 60%;
  
}

.systemDesc h1{
  font-style: italic;

}

.systemDesc p{
  font-size: 20px;
}


.systemContent{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  
  align-items: center;
  margin-top: 5%;
}

.aboutSystem h1{
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.aboutSystem p{
  font-size: 16px;
}

.features-inside{
  margin-bottom: 7%;
  
}


.features h2{
  font-weight: bold;
  font-size: 16px;

}

.features li{
  font-size: 14px;
  margin-bottom: 9px;
  
}

.stacks-used span{
  border: 1px solid;
  border-color: hsl(220, 3%, 79%);
  display: inline-block;
  padding: 4px 16px;
  margin-right: 10px;
  border-radius: 15px;
  font-weight: 14px;

  
}


/* contact info section */

.contact-section{
  background-color:rgb(241, 236, 236) ;
  padding-top: 1.5%;
  padding-bottom: 4%;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  
  
  
}
.contact-heading-internal{
  display:inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
  margin-right: 0px;
  

}
.contact-heading-internal h1{
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  
}

.contact-heading-internal p{
  font-size: 18px;

}

.grid-contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
  margin: 2% 10% ;

 
 
}

.contact-left-side{
  width: 100%;
}

.contact-info{

 
}

.contact-descript h2{
  font-size: 24px;
}
.contact-descript{
  font-size: 16px;
}

.email-font, .location-font, .phone-font{
  color: gray;
  font-size: 14px;
}
.mail, .phon, .loc{
  
  color: black;
  font-size: 16px
}


.phone, .email,.location{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0px;
  padding: 3px 18px;
  border-radius: 15px;
  opacity: 0.5s;
  transition: 0.3s;
  cursor: pointer;

}

.location:hover{
  background-color: white;
}
.email:hover{
  background-color: white;
} 
.phone:hover{
  background-color: white;
  
}

.icon-title-loc{
  display: block;
  
 
}
.contact-icon{
  font-size: 25px;
  color: hsla(0, 51%, 78%, 0.815);
  background-color: hsla(0, 17%, 88%, 0.856);
  padding: 8px 6px;
  border: none;
  border-radius: 13px;
}

.projects span{
  border: 2px solid;
  border-color: hsl(210, 100%, 100%);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 14px;
  margin-right: 10px;
  background-color: white;
}

.contact-right-side{
  display: flex;
  padding: 32px;
  background-color: white;
  border-radius: 7px;
  height: 66%;
  
 
}
.contact-right-side label{
  font-size: 14px;
  display: flex;
}
.contact-right-side input ,textarea, button{
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  
}

.contact-right-side textarea{
  padding: 19px 9px;
}
.contact-right-side form{
  width: 100%;
}

.message{
  padding: 15px 0px;
}

.send-message-btn button{
  background-color: black;
  color: white;
  padding: 12px 8px;

}

.send-icon{
  background-color: black;
  margin-left: 10px;
}

.send-icon:hover{
  opacity: 0.3s;
  
}

.send-btn:hover{
  margin-right: 20px;
}


/* footer */
.footer-container{
  text-align: center;
  padding: 4% 0%;
}